<!doctype html>
<html lang="en" ng-app="willGiveApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">

    <script src="jquery/dist/jquery.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angularJs/willGiveApp.js"></script>

    <%include layout/navbar.ejs%>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12"><h2  style="margin:0;"><b>About</b></h2></div>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-md-6">
            <img alt="about-us-page" src="resources/images/launch_icon.png" />

        </div>
        <div class="col-md-6">
            <p>Butler's Wharf is an English historic building on the south bank of the River Thames, just east of London's Tower Bridge, now housing luxury flats and restaurants. Lying between the picturesque street Shad Thames and the Thames Path, it overlooks both the bridge and St Katharine Docks on the other side of the river. Butler's Wharf is also used as a term for the surrounding area.</p>
            <p>Butler's Wharf is also used as a name for the surrounding area, otherwise called Shad Thames after the main local street.</p>
            <p>Source: Wikipedia.org</p>
            <p>This is a sample website, don't pay any attention to the contents.</p>
        </div>
    </div>
</div>
</body>
<%include layout/footer.ejs%>

</html>