<!doctype html>
<html lang="en" ng-app="willGiveApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >

    <%activeMenu = "About"%>
    <%include layout/navbar.ejs%>
</head>
<body>
<div class="container" style="padding-top: 2%; height:auto; min-height: 90%;  margin: 0 auto -50px;">
    <div class="row text-center">
        <div class="col-md-12"><h2  style="margin:0;"><b>About</b></h2></div>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-md-6">
            <img alt="about-us-page" src="images/launch_icon.png" />

        </div>
        <div class="col-md-6">
            <p>           
	Our vision -- Extend love, offer appreciation and inspire change to the world</P>
           <P> Our mission is to create a top-notch service that delights the giving back to community experience.
            </p>
        </div>
    </div>
</div>
<%include layout/footer.ejs%>

<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>