<!doctype html>
<html lang="en" ng-app="willGiveApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">

    <script src="jquery/dist/jquery.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angularJs/willGiveApp.js"></script>
    <%activeMenu = "About"%>
    <%include layout/navbar.ejs%>
</head>
<body>
<div class="container" style="padding-top: 2%">
    <div class="row text-center">
        <div class="col-md-12"><h2  style="margin:0;"><b>About</b></h2></div>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-md-6">
            <img alt="about-us-page" src="resources/images/launch_icon.png" />

        </div>
        <div class="col-md-6">
            <p>           
	Our vision -- Extend love, offer appreciation and inspire change to the world</P>
           <P> Our mission is to create a top-notch service that delights the giving back to community experience.
            </p>
        </div>
    </div>
</div>
</body>
<%include layout/footer.ejs%>

</html>