<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>

    <%activeMenu = "Contact"%>
    <%include layout/navbar.ejs%>
</head>
<body>
<div class="container">
    <div class="col-md-7 columns">


        <h3>Get in Touch!</h3>
        <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>
        <form role="form" id="contactUsForm" class="form-signin" >
            <br />
            <div class="row">
                <div class="col-md-2"><label for="name">Your Name</label></div>
                <% if ( undefined == typeof user || user == null) {%>
                <div class="col-md-8"><input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required="true"/></div>
                <%} else {%>
                <div class="col-md-8"><input type="text" id="name" name="name" class="form-control" placeholder="Your Name" value="<%=user.firstName%> <%=user.lastName%>" required="true"/></div>
                <% } %>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"><label for="email">Your Email</label></div>
                <% if ( undefined == typeof user || user == null) {%>
                <div class="col-md-8"><input type="email" id="email" name="email" class="form-control" placeholder="Your email" required="true"/></div>
                <%} else {%>
                <div class="col-md-8"><input type="email" id="email" name="email" class="form-control" value="<%=user.email%>"placeholder="Your email" required="true"/></div>
                <% } %>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"><label>What's up?</label></div>
                <div class="col-md-8"><textarea name="content" id="content" rows="3" class="form-control" required="true"></textarea></div>
            </div>
            <div class="row" style="padding-top: 2%">
                <button type="button" id="submitContactUsButton" class="btn btn-lg btn-primary center-block">Contact Us</button>
            </div>
        </form>
        <div id="contactUsSuccessMessage" class="form-group" style="padding-bottom: 1%; padding-top: 1%;display : none">
            <p style="margin-top: 0px; float: left;color: green;font-style:italic">We've received your message, and will answer your questions as soon as possible.</p><br>
        </div>
        <div id="contactUsFailMessage" class="form-group" style="padding-bottom: 1%; display : none">
            <p style="margin-top: 0px; float: left;color: red; font-style: italic">Send contactUs message failed. Please try it again.</p><br>
        </div>
    </div>

    <div class="col-md-4 columns">
        <h5>Map</h5>
        <!-- Clicking this placeholder fires the mapModal Reveal modal -->
        <p>
            <a href="" data-toggle="modal" data-target="#myModal" style="color: #202090"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42988.106131295346!2d-122.12157799999995!3d47.669723999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54900cad2000ee23%3A0x5e0390eac5d804f2!2sRedmond%2C+WA!5e0!3m2!1sen!2sus!4v1420793309460" width="500" height="400" frameborder="0" style="border:0"></iframe><br />

            </a><br />
            <a href="" data-toggle="modal" data-target="#myModal" style="color: #202090">View Map</a>
        </p>
        <p>
            1000 WillGive way<br />
            Redmond, WA
        </p>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h4>Where We Are</h4>
                    <p>  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42988.106131295346!2d-122.12157799999995!3d47.669723999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54900cad2000ee23%3A0x5e0390eac5d804f2!2sRedmond%2C+WA!5e0!3m2!1sen!2sus!4v1420793309460" width="500" height="400" frameborder="0" style="border:0"></iframe><br />
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
<%include layout/footer.ejs%>

<script>

    var formValidateParams = {
        errorClass: "my-error-class",
        //validClass: "my-valid-class",
        rules: {
            name: {
                required: true
            },
            email: {
                required : true,
                email : true
            },
            content: {
                required :true
            }
        },
        messages: {
            name: {
                required: "Required."
            },
            email: {
                required: "Required.",
                email: "Please enter a validate email address."
            },
            content: {
                required: "Required."
            }
        }
    };
    $("#contactUsForm").validate(
            formValidateParams
    );

    $("#submitContactUsButton" ).click(function( ) {
        event.preventDefault();
        $('#contactUsSuccessMessage').hide();
        $('#contactUsFailMessage').hide();

        if (!$("#contactUsForm").valid()) {
            console.log("contact us form is not valid!");
            return;
        }

        var contactUsInfo={};
        contactUsInfo.name = $('#name').val();
        contactUsInfo.email = $('#email').val();
        contactUsInfo.content = $('#content').val();
        console.log("Submitting contact us form!");
        $.post("/services/contactus", {contactUsInfo : contactUsInfo}, function(data){
            if(data=="success") {
                $('#contactUsSuccessMessage').show();
                $('#contactUsFailMessage').hide();
                $('#content').val("");
            } else {
                $('#contactUsSuccessMessage').hide();
                $('#contactUsFailMessage').show();
            }
        })
    });
</script>
</body>

</html>