<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Script Tutorials" />
    <title>WillGive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- attach CSS styles -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >

    <%activeMenu = "Home"%>
    <%include layout/navbar.ejs%>
</head>



<body>
<!--  BODY PAGE CONTENT -->
<!-- attach JavaScripts -->
<!-- navigation panel -->



<!-- first section - Home -->
<div id="home" class="home">
    <div class="text-vcenter">
        <h1 style="font-family: cursive; font-style: normal ">WILL GIVE</h1>
        <h3>Donate A Lot</h3>
        <a href="/recipient/signup" class="btn btn-default btn-lg">Charity Register</a>
    </div>
</div>
<!-- /first section -->

<!-- second section - About -->

<div id="about" class="pad-section">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="/images/logo.jpg" alt="" />
            </div>

            <div class="col-sm-6 text-center">
                <h2>Make A Better World</h2>
                <p class="lead">Donation make the world better. Please try our best to make the world better and better</p>
            </div>
        </div>
    </div>
</div>
<!-- /second section -->


<!-- third section - Services -->
<div id="services" class="pad-section">
    <div class="container">
        <h2 class="text-center">Our Services</h2> <hr />
        <div class="row text-center">
            <div class="col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-cloud"> </i>
                <h4>Service web</h4>
                <p>You can donate through our website</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-leaf"> </i>
                <h4>Service APP</h4>
                <p>We have dedicated mobile apps on iphone and android for givers and receivers</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-phone-alt"> </i>
                <h4>QR promotion</h4>
                <p>We generate rich informational QR code for you to make an easy donation</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-bullhorn"> </i>
                <h4>Easy payments</h4>
                <p>We support all major credit cards. </p>
            </div>
        </div>
    </div>
</div>
<!-- /third section -->


<!-- fourth section - Information -->

<div id="information" class="pad-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Why us?</h2>
                    </div>
                    <div class="panel-body lead">
                        <b>Charities</b> -- It is free to use our services and get access to our app users. 
                        <p><b>Donators</b> -- We verifiy every registered charity and make sure that they're not only eligible but also efficient. 100% of your donated money (except fees charged by credit card companies) directly go to the charities of your choice.  
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">How to start?</h2>
                    </div>
                    <div class="panel-body lead">
                        <b>Charities</b> -- Register online or call our support line 1-800-296-GIVE
	       <p><b>Donators</b> -- Register online and download the app. 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /fourth section -->

<%include layout/footer.ejs%>

<!-- /footer -->

<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>