<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Will Give payment
        <form action=""></form></title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>

</head>
<body>

<h1>Will Give payment Portal</h1>


<form action="javascript:void(0);" method="post" id="example-form" style="display: block;">


    <div class="form-row">
        <label>Amount</label>
        <input id="paymentAmount" type="text" maxlength="20" autocomplete="off" class="required" />
    </div>

    <input id="amount" type="hidden" autocomplete="off" name="amount" value="300">

    <button type="submit" name="submit-button" onClick="enableCheckout()">Submit</button>


</form>

<script>
function enableCheckout() {

        document.getElementById("customButton").style.display="block";
        alert("Please confirm you will pay the following amount: "+ jQuery("#paymentAmount").val());
        jQuery('#amount').val(jQuery("#paymentAmount").val());
        alert("Set amount: "+ jQuery("#amount").val());
        }

</script>

<script src="https://checkout.stripe.com/v2/checkout.js"></script>


<form id="form" action="/payment/stripePayment" method="POST" style="display:none;">
    <input id="amount" type="hidden" autocomplete="off" name="amount" value="200">

</form>

<button id="customButton" style="display:none;">Purchase</button>

<script>

    $('#customButton').click(function(){
        var token = function(res){
            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
            $('form').append($input).submit();
        };

        StripeCheckout.open({
            key:         'pk_test_iJPmMQMGarAHRE7oUcM5iBxO',
            address:     true,
            amount:      5000,
            currency:    'usd',
            name:        'Joes Pistachios',
            description: 'A bag of Pistachios',
            panelLabel:  'Checkout',
            token:       token
        });

        return false;
    });
</script>


<!--

    jQuery('#customButton').on('click', function (e) {
        // Open Checkout with further options

        var payAmount=  jQuery('#amount').val();

        alert("paymentAmount now: "+ jQuery("#amount").val());
        handler.open({
            name: 'Payment widget',
            description: 'Pay ($'+payAmount+ ')' ,
            amount: payAmount
        });
        e.preventDefault();
    });



-->





</body>
<%include layout/footer.ejs%>

</html>