<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>

    <%activeMenu = "Privacy"%>
    <%include layout/navbar.ejs%>
</head>
<body>
<div class="container" style="padding-top: 5%">
<div id="1"><h1>Privacy Policy</h1></div>    
<div id="2">
<p>This Privacy Policy governs the manner in which WillGive LLC collects, uses, maintains and discloses information collected from users of this Web site and WillGive mobile app(each, a "User").<br />
<br />
<b>Privacy</b><br />
Users' privacy is very important to WillGive LLC. WillGive LLC is committed to safeguarding the information Users entrust to WillGive LLC. This Web site is not directed at children under 13 years of age.<br />
<br />
<b>The Information We Collect</b><br />
WillGive LLC may collect personally identifiable information from Users in a variety of ways, including through online forms for ordering products and services, and other instances where Users are invited to volunteer such information. WillGive LLC may also collect information about how Users use our Web site, for example, by tracking the number of unique views received by the pages of the Web site, the type of computer used, or the domains from which Users originate. We may use
"cookies" to track how Users use our Web site. A cookie is a piece of software that a Web server can store on the Users' PC and use to identify the User should they visit the Web site again. While not all of the information that we collect from Users is personally identifiable, it may be associated with personally identifiable information that Users provide us through our Web site.<br />
<br />
<b>How We Use Information</b><br />
WillGive LLC may use personally identifiable information collected through our Web site to contact Users regarding products and services offered by WillGive LLC and its trusted affiliates, independent contractors and business partners, and otherwise to enhance Users' experience with WillGive LLC and such affiliates, independent contractors and business partners. WillGive LLC may also use information collected through our Web site for research regarding the effectiveness
of the Web site and the marketing, advertising and sales efforts of WillGive LLC, its trusted affiliates, independent contractors and business partners.<br />
<br />
<b>Disclosure of Information</b><br />
WillGive LLC may disclose information collected from Users to trusted affiliates, independent contractors and business partners who will use the information for the purposes outlined above. We may also disclose aggregate, anonymous data based on information collected from Users to investors and potential partners. Finally, we may transfer information collected from Users in connection with a sale of WillGive LLC's business.<br />
<br />
<b>Maintenance of Information</b><br />
Information about Users that is maintained on our systems is protected using industry standard security measures. However, we cannot guarantee that the information submitted to, maintained on, or transmitted from our systems will be completely secure.<br />
<br />
<b>Questions</b><br />
Users may direct questions concerning this Privacy Policy by email to <a href="mailto:support@Willgive.org" style="color:blue;"><u>support@Willgive.org</u></a>. </p>
</div>
    <hr/>
</div>
<%include layout/footer.ejs%>
</html>