<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">


    <link rel="stylesheet" type="text/css" href="/jqgrid/css/ui.jqgrid.css">

    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/ui.jqgrid.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/ui.multiselect.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">


    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>


    <script src="/jqgrid/js/minified/jquery.jqGrid.min.js" type="text/javascript"></script>

    <!-- please use the css in bower component or download it-->
    <link rel="stylesheet" type="text/css" media="screen" href="http://trirand.com/blog/jqgrid/themes/redmond/jquery-ui-custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://trirand.com/blog/jqgrid/themes/ui.multiselect.css" />




<!--
    <script src="/assets/js/jqgridmain.js" type="text/javascript"></script>
    <script src="/assets/js/jqgridTablednd.js" type="text/javascript"></script>
    <script src="/assets/js/jqgridContextmenu.js" type="text/javascript"></script>


    <script src="/assets/js/jquery.simplePagination.js"></script>

      -->


    <%activeMenu = "Enquiry"%>

    <%include layout/navbar.ejs%>

</head>
<body>
<div class="container">
    <div class="col-md-7 columns" >

        <h3>Please enter a confirmation code to query charity donation</h3>
        <p>We take the charity donation security and transparency very seriously. We've made all the donation transaction public and easy to track.
            WillGive wants only the best for you, so we use industry-leading Secure Sockets Layer (SSL) technology to keep personal information as secure as possible.
            Built in Stripe payment also helps protect your information by only working with partners that provide a secure and safe environment for credit card donations</em>.</p>
        <div>

            <label>Confirmation Code</label>
            <input id="transactionId" type="text" maxlength="100" autocomplete="off" class="required" />
        </div>
        <button id="contribute_button"  class="btn btn-block btn-lg btn-primary" style="display:block;" onClick="refresh()">
            Search
        </button>

       <div class="container" >

            <table id="listResult"></table>
            <table id="grid"></table>
            <div id="pagerResults"></div>
        </div>

        <script>
            function refresh() {
                jQuery('#listResult').jqGrid('GridUnload');

                var transactions = [];

                $.get("/services/user/getTransactionHistory/" + jQuery("#transactionId").val(), function (results) {

                    for (i in results) {
                        transactions.push(results[i]);
                    }

                    console.dir(transactions);
                    /*
                     var tra = [
                     {transactionId: "11", amount: "20", user_name: "michael", recipient_name: "redCross", date: "2012-1-2", notes: "test"}
                     ];
                     alert("transactionId" + jQuery("#transactionId").val());
                     if (jQuery("#transactionId").val() == 1) {
                     tra.push({transactionId: "2", amount: "20", user_name: "michael", recipient_name: "redCross", date: "2012-1-2", notes: "test"});
                     }*/
                    //setGridParam({'postData': data});

                    jQuery(document).ready(function () {
                        jQuery("#listResult").jqGrid({
                            datatype: "local",
                            data: transactions,
                            colNames: ['transactionId', 'amount', 'firstName','lastName','recipientId', 'datetime', 'notes'],
                            colModel: [
                                {name: 'transactionId', index: 'transactionId', align: "center", editable: true, sortable: true},
                                {name: 'amount', index: 'amount', align: "center", editable: true, sortable: true},
                                {name: 'First Name', index: 'firstName', align: "center", editable: true, sortable: true},
                                {name: 'Last Name', index: 'lastName', align: "center", editable: true, sortable: true},
                                {name: 'recipientId', index: 'recipientId', align: "center", editable: true, sortable: true},
                                {name: 'datetime', index: 'datetime', align: "center", editable: true, sortable: true},
                                {name: 'notes', index: 'notes', align: "center", editable: true, sortable: true}
                            ],
                            rowNum: 10,
                            rowList: [10, 20, 30],
                            sortname: 'transactionId',
                            viewrecords: true,
                            sortorder: "desc",
                            caption: "donation listings",
                            width: 1000,
                            height: "100%"
                        });

                        //jQuery("#listResult").jqGrid('setGridParam', { data: transactions }).trigger("reloadGrid");

                    })
                });
            }


            /*
            $(function() {
                console.log("search transaction Now");
                transactions=[{transactionId:"1",amount:"20",user_name:"michael", recipient_name:"redCross",date:"2012-1-2",notes:"test"}];

                transactions.push({transactionId:"2",amount:"20",user_name:"michael", recipient_name:"redCross",date:"2012-1-2",notes:"test"});
                transactions.push({transactionId:"3",amount:"20",user_name:"michael", recipient_name:"redCross",date:"2012-1-2",notes:"test"});
                transactions.push({transactionId:"4",amount:"20",user_name:"michael", recipient_name:"redCross",date:"2012-1-2",notes:"test"});
                transactions.push({transactionId:"5",amount:"20",user_name:"michael", recipient_name:"redCross",date:"2012-1-2",notes:"test"});

                //jQuery("#listResult").jqGrid('navGrid',"#pagerResults",{edit:false,add:false,del:true});
                // jQuery("#listResult").jqGrid('inlineNav',"#pagerResults");

            })}
            */

        </script>



    </div>

</div>


</body>



</html>