<!doctype html>
<html lang="en" ng-app="willGiveApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/social-buttons.css">

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angularJs/willGiveApp.js"></script>

    <%include ../layout/navbar.ejs%>
</head>
<body>

<div class="container" style="height: 420px; max-width: 40%">
    <div >
        <h3>WillGive Password Reset</h3>
    </div>
    <hr align="left" width="100%" background="0xff0000">
    <div id="afterResetSubmit"  style="padding-bottom: 10px; display: none">
        Password reset instructions have been sent.
        This may take a minute. Be sure to check your spam folder and add hello@willgive.com to your address book to ensure delivery.
        <br><br>
        If you require additional help, please contact us at
        <a href="mailto:hello@willgive.com?Subject=Hello%20again">hello@willgive.com</a>
    </div>
    <form class="form-forgotpassword span4 text-center" action="/login/forgotpassword" method="post" style="padding-top: 30px">

        <div class="input-group input-group-lg" style="padding-bottom: 20px">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>
        <button class="btn btn-primary btn-lg" style="float: left" type="submit" >Find Your Password</button>

    </form>
</div>

<%include ../layout/footer.ejs%>

</body>

</html>