<!doctype html>
<html lang="en" ng-app="willGiveApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/social-buttons.css">
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >


    <%include ../layout/navbar.ejs%>
</head>
<body>

<div class="container" style="min-height: 50%; max-width: 40%">
    <div >
        <h3>WillGive Password Reset</h3>
    </div>
    <hr align="left" width="100%" background="0xff0000">
    <div id="successAfterResetSubmit"  style="padding-top: 2%; display: none">
        Password reset instructions have been sent.
        This may take a minute. Be sure to check your spam folder and add hello@willgive.com to your address book to ensure delivery.
        <br><br>
        If you require additional help, please contact us at
        <a href="mailto:hello@willgive.com?Subject=Hello%20again">hello@willgive.com</a>
    </div>
    <div id="failAfterResetSubmit"  style="padding-top: 2%; display: none">
    </div>
    <form id="findPasswordByEmailForm" class="form-forgotpassword span4 text-center"  method="post" style="padding-top: 3%">

        <div class="input-group input-group-lg" style="padding-bottom: 20px">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="findPasswordEmail" name="findPasswordEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>
        <button class="btn btn-primary btn-lg" id="findPasswordByEmailButton" style="float: left" type="submit" >Find Your Password</button>

    </form>
</div>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/angular/angular.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>
<!-- Angular is not used in the website for now-->
<script src="/angularJs/willGiveApp.js"></script>

<%include ../layout/footer.ejs%>
<script>

    var formValidateParams = {
        errorClass: "my-error-class",
        rules: {
            findPasswordEmail: {
                required : true,
                email : true
            }
        },
        messages: {
            findPasswordEmail: {
                required: "Required.",
                email: "Please enter a validate email address."            }
        }
    };
    $("#findPasswordByEmailForm").validate(
        formValidateParams
    );

    $( "#findPasswordByEmailForm" ).submit(function( event ) {
        event.preventDefault();
        $('#successAfterResetSubmit').hide();
        $('#failAfterResetSubmit').hide();

        if (!$("#findPasswordByEmailForm").valid()) {
            console.log("The form is not valid!");
            return;
        }

        $('#findPasswordByEmailButton').attr('disabled','disabled');

        email = $('#findPasswordEmail').val();

        console.log("Submitting Signup forms!");
        $.post("/services/login/forgotPassword", {email : email}, function(data){
            if(data=="success") {
                $('#successAfterResetSubmit').show();
            } else {
                //alert(data);
                $('#failAfterResetSubmit').html(data).show();
            }
            $('#findPasswordByEmailButton').removeAttr('disabled');
        })
    });
</script>
</body>

</html>