<!doctype html>
<html lang="en" ng-app="willGiveApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">
    <link rel="stylesheet" href="/assets/css/social-buttons.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/colorStyle.css" >

</head>
<body>
    <%include ../layout/navbar.ejs%>
<div class="container" style="padding-top: 5%;min-height: 50%; max-width: 40%">
    <div >
        <h3>WillGive Password Reset</h3>
    </div>
    <hr class="greenLine">

     <div id="resetPageNotValid" style="padding-top: 3%; style="display:none" >
         This link is no longer valid. Please go to <a href="/login/forgotPassword"> forgot password</a> to find your password.
     </div>
     <div id="resetAfterSubmit" style="padding-top: 3% ; display:none; color: green" >
          You have successfully updated your password. Please go to <a href="/login/signin"> sign in</a> page to sign in.
     </div>
     <form id="resetPasswordForm" class="form-forgotpassword span4 text-center" method="post" style="padding-top: 3%; display : none">

        <div class="input-group input-group-lg" style="padding-bottom: 2%">
            <span class="input-group-addon greenBorder">
               <span class="glyphicon glyphicon-lock"></span>
            </span>
            <label for="resetPassword" class="sr-only">New Password</label>
            <input type="password" id="resetPassword" name="resetPassword" class="greenBorder form-control" placeholder="New Password" required>
        </div>
        <div class="input-group input-group-lg" style="padding-bottom: 3%">
            <span class="input-group-addon greenBorder">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <label for="confirmResetPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="confirmResetPassword" name="confirmResetPassword" class="greenBorder form-control" placeholder="Confirm Password" required>
        </div>

        <button id="resetPasswordButton" class="btn btn-primary btn-lg greenButton" style="float: left" type="submit" >Reset</button>

    </form>
</div>

<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.js"></script>
<script src="/angular/angular.js"></script>
<script src="/angularJs/willGiveApp.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>

<% if ( ('undefined' != typeof email) && ('undefined' != typeof randomString) ) { %>
   <div style="display:none;" id="ejsEmail"><%=email %></div>
   <div style="display:none;" id="ejsRandomString"><%=randomString %></div>

   <script>
     console.log("KKKK");
     $( document ).ready(function() {
        console.log( "ready!" );
        var email = $('#ejsEmail').html();
        var randomString = $('#ejsRandomString').html();
        $.post("/services/login/validateEmailLink", {email: email, randomString: randomString}, function(data){
            if(data=="success") {
                $('#resetPasswordForm').show();
                $('#resetPageNotValid').hide();
            } else {
                $('#resetPasswordForm').hide();
                $('#resetPageNotValid').show();
            }
         })

         var formValidateParams = {
             errorClass: "my-error-class",
             rules: {
                 resetPassword: {
                     required: true,
                     minlength: 8
                 },
                 confirmResetPassword: {
                     required: true,
                     minlength: 8,
                     equalTo : resetPassword
                 }
             },
             messages: {
                 resetPassword: {
                     required: "Required.",
                     minlength: "Password at least 8 chars."
                 },
                 confirmResetPassword: {
                     required: "Required.",
                     minlength: "Password at least 8 chars.",
                     equalTo: "Password doesn't match."
                 }
             }
         };
         $("#resetPasswordForm").validate(
             formValidateParams
         );

         $( "#resetPasswordForm" ).submit(function( event ) {
             event.preventDefault();
             $('#resetAfterSubmit').hide();

             if (!$("#resetPasswordForm").valid()) {
                 console.log("The form is not valid!");
                 return;
             }

             var password = $('#resetPassword').val();
             $('#resetPasswordButton').attr('disabled','disabled');

             console.log("Resetting Passwords!");
             $.post("/services/login/resetPassword", {email : email, randomString: randomString, password : password}, function(data){
                 if(data=="success") {
                     $('#resetAfterSubmit').show();
                 } else {
                     $('#resetAfterSubmit').html(data).show();
                     $('#resetPasswordButton').removeAttr('disabled');
                 }
                 $('input[type="password"]').val('');
             })
         });
     });
   </script>
<% } else { %>
   <script>
       $('#resetPageNotValid').show();
   </script>
<% } %>

<script>


</script>
</body>

</html>