<!doctype html>
<html lang="en" ng-app="willGiveApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/social-buttons.css">

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angularJs/willGiveApp.js"></script>

    <%include ../layout/navbar.ejs%>
</head>
<body>

<div class="container" style="height: 420px; max-width: 40%">
    <div >
        <h3>WillGive Password Reset</h3>
    </div>
    <hr align="left" width="100%" background="0xff0000">

     <div id="resetPageNotValid" > <!-- style="display:none" -->
         This link is no longer valid. Please go to <a href="/login/forgotPassword"> forgot password</a> to find your password.
     </div>

    <form class="form-forgotpassword span4 text-center" action="/login/resetpassword" method="post" style="padding-top: 30px; display : none">

        <div class="input-group input-group-lg" style="padding-bottom: 10px">
            <span class="input-group-addon">
               <span class="glyphicon glyphicon-lock"></span>
            </span>
            <label for="resetPassword" class="sr-only">New Password</label>
            <input type="password" id="resetPassword" class="form-control" placeholder="New Password" required>
        </div>
        <div class="input-group input-group-lg" style="padding-bottom: 10px">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <label for="confirmResetPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="confirmResetPassword" class="form-control" placeholder="Confirm Password" required>
        </div>

        <button class="btn btn-primary btn-lg" style="float: left" type="submit" >Reset</button>

    </form>
</div>

<%include ../layout/footer.ejs%>

</body>

</html>