<!doctype html>
<html lang="en" ng-app="willGiveApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/social-buttons.css">

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angularJs/willGiveApp.js"></script>

    <%include ../layout/navbar.ejs%>
</head>
<body>

<div class="container" style="height: 420px">
    <h2 class="form-signin-heading text-center">WillGive SignUp</h2>
    <hr align="left" width="100%" background="0xff0000">
    <form class="form-signin col-xs-4 col-xs-offset-1" action="/signup" method="post" style="padding-top: 30px">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
            <label for="signupEmail" class="sr-only">Email address</label>
            <input type="email" id="signupEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>
        <div style="padding-top: 2px"> &nbsp</div>

        <div class="input-group input-group-lg">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
              </span>
            <label for="signupPassword" class="sr-only">Password</label>
            <input type="password" id="signupPassword" class="form-control" placeholder="Password" required>
        </div>

        <div style="padding-top: 20px"> &nbsp</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >SIGN UP</button>

    </form>
    <div class="col-xs-2 text-center">
        <h3>Or</h3>
    </div>
    <div class="col-xs-5" style="padding-top: 30px">
        <a href="/auth/facebook" ><button class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i>f | Sign up with Facebook</button></a>
        <br>
        <ul class="secondary note nobullet">
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="alt"> privacy:</span> We keep it private</li>
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="alt"> protection:</span> Share only with permission</li>
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="alt"> time:</span> Quick sign in, no passwords</li>
        </ul>
    </div>

</div>
<div class="container">
    <div class="text-center" >
        Already have an account? <a href="/login/signin">Sign In</a>
    </div>
</div>
<%include ../layout/footer.ejs%>

</body>

</html>