<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/simplePagination.css" >
</head>
<body>
    <%activeMenu = "SignUp"%>
    <%include ../layout/navbar.ejs%>
<div class="container sidebar-content" style="height:auto; min-height: 90%;">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas"   id="sidebar" role="navigation"  >
            <div data-spy="affix" data-offset-top="15" data-offset-bottom="30">
                <ul class="nav" style="color: #000000;" id="sidebar-nav">
                    <li class="sidebar-offcanvas" style="font-style: italic; font-size: 40px; padding-bottom: 10%" >
                        <img src="<%=user.imageIconUrl%>" height="80" width="80"/> &nbsp;
                        <strong> <%=user.firstName%></strong></li>
                    <li>
                        <a href="/users/account" style="color: #000000;">Edit Profile</a>
                    </li>
                    <li  >
                        <a href="/users/settings" style="color: #000000;">Settings</a>
                    </li>
                    <li>
                        <a href="/users/paymentMethod" style="color: #000000;">Payment Method</a>
                    </li>
                    <li>
                        <a href="/users/contribution" style="color: #000000;"><strong>My Contributions</strong></a>
                    </li>
                    <li>
                        <a href="/users/collections" style="color: #000000;">My Favorites</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9" data-spy="scroll" style="padding-left: 5%" data-target="#sidebar-nav">
            <h2 class="sub-header">My Contributions</h2>
            <div id="page" ></div>

            <div id="resultsContainer" class="">

                <div class="table-responsive">
                    <table id="transactionHistoryTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Date</th>
                            <th>Amount($)</th>
                            <th>Contribute To</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody id="transactionHistoryTableBody">


                        </tbody>
                    </table>
                </div>
            </div>
            <div id="botPage" style="float: left"></div>
            <div id="noresult" style="display: none" >
                <h3>Sorry, you have no contribution yet</h3>
            </div>

        </div><!-- /.col-xs-12 main -->

    </div><!--/.row-->
</div><!--/.container-->
<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>
<script src="/assets/js/jquery.simplePagination.js"></script>
<script>
    var transactionHistory=[];

    var defaultHTML =
        '<tr> <td> {Id} </td> '+
        ' <td> {Date} </td> ' +
        ' <td class="text-center"> {Amount} </td> ' +
        ' <td> {Recipient} </td> ' +
        ' <td> {Status} </td> ' +
        ' </tr> ';

    function replaceHtml(transaction){
        return defaultHTML.replace("{Id}",transaction.transaction_id)
                .replace("{Date}",dateDisplayFormatter(transaction.datetime))
                .replace("{Amount}",transaction.amount)
                .replace("{Recipient}",'<a href="/charity/'+transaction.recipient_id+'" style="color: #202090">'+transaction.name+'</a>')
                .replace("{Status}",transaction.status)
                ;

    }
        // function initResultPage(searchResults){
    function initResultPage(data){
        $('#botPage').empty();

        var itemsOnPage = 20;
        var resultConainer = $('#transactionHistoryTableBody');

        $('#botPage').pagination({  //首先获取对应的ID，第二步已经定义了ID为page
            items: transactionHistory.length,  //这里是项目的总数，假使有100个项目
            itemsOnPage: itemsOnPage,  //这里是每页显示多少个项目
            onInit: initPage,
            currentPage: 0,
            onPageClick: function(){
                var page_index = $("#botPage").pagination('getCurrentPage') -1;
                resultConainer.empty();
                for(var i=page_index*itemsOnPage;i<(page_index+1)*itemsOnPage;++i) {
                    resultConainer.append(replaceHtml(transactionHistory[i]));
                }
                //$("#page").pagination('drawPage',$("#botPage").pagination('getCurrentPage'));

            },
            cssStyle: 'light-theme'  //这里就是css风格了，可设置light-theme,dark-theme,compact-theme,效果依次按文章开头的大图中展现
        });
        function initPage() {
            resultConainer.empty();
            for(var i=0;i<itemsOnPage && i< transactionHistory.length;++i) {
                resultConainer.append(replaceHtml(transactionHistory[i]));
            }
        }
    }
    function displayNoResults(){
        //resultConainer.empty();
        $('#botPage').empty();
        $('#noresult').show(); //text("Sorry, you have no contribution yet.");//add keyword

    }
    function dateDisplayFormatter( cellvalue, options, rowObject ){
        return cellvalue.substr(0,10);
    }
    function getUserTransactionHistory(){
       $.get('/services/user/getTransactionHistory',function(data){
           if(!data || data == "failed") {
               //get history failed
               return;
           }
           if(data.length>0) {
               console.dir(data);
               transactionHistory = data;
               initResultPage(data);
           }
           else {
               displayNoResults();
           }
       })
    }

   $( document).ready(function(){
       getUserTransactionHistory();
   })
</script>
</body>
</html>