<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
</head>
<body>
    <%activeMenu = "SignUp"%>
    <%include ../layout/navbar.ejs%>
<div class="container sidebar-content" style="height:auto; min-height: 90%; ">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas"   id="sidebar" role="navigation"  >
            <div data-spy="affix" data-offset-top="15" data-offset-bottom="30">
                <ul class="nav" style="color: #000000;" id="sidebar-nav">
                    <li class="sidebar-offcanvas" style="font-style: italic; font-size: 40px; padding-bottom: 10%" >
                        <img src="<%=user.imageIconUrl%>" height="80" width="80"/> &nbsp;
                        <strong> <%=user.firstName%></strong></li>
                    <li>
                        <a href="/users/account" style="color: #000000;">Edit Profile</a>
                    </li>
                    <li  >
                        <a href="/users/settings" style="color: #000000;"><strong>Settings</strong></a>
                    </li>

                    <li>
                        <a href="/users/contribution" style="color: #000000;">My Contributions</a>
                    </li>
                    <li>
                        <a href="/users/pledge" style="color: #000000;">My Pledges</a>
                    </li>
                    <li>
                        <a href="/users/collections" style="color: #000000;">My Favorites</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9" data-spy="scroll" style="padding-left: 5%" data-target="#sidebar-nav">
            <form id="userSettingsForm" class="">
                <div id="successUpdateSettingsMessage" class="form-group col-xs-12" style="padding-bottom: 1%; display : none ">
                    <h3 style="margin-top: 0px; float: left;color: green">You've successfully updated your settings.</h3>
                </div>
                <div id="failUpdateSettingsMessage" class="form-group col-xs-12" style="padding-bottom: 1%; display : none ">
                    <h3 style="margin-top: 0px; float: left;color: red">Updating user settings failed. Please try again.</h3>
                </div>
                <h3 id="emailNotification">Email Settings</h3>
                <hr/>
                <div class="input-group col-xs-6">
                    <label class="checkbox-inline"><input id="receiveEmailUpdate" type="checkbox" value="" checked>
                        Receive Email Updates From WillGive
                    </label>
                </div>
                <div class="input-group col-xs-6">
                    <label class="checkbox-inline"><input id="receiveEmailNotification" type="checkbox" value="" checked>
                        Receive Email Notification From WillGive
                    </label>
                </div>

                <hr/>
                <h3 id="privacySettings">Privacy Settings</h3>
                <div class="input-group col-xs-6">
                    <label class="checkbox-inline"><input id="allowContributionPublic" type="checkbox" value="" checked>
                        Allow Contributions Public
                    </label>
                </div>
                <hr/>
                <h3 id="paymentOptions">Payment Options Settings</h3>
                <div class="form-group" style="padding-bottom: 1%">
                    <label class="control-label col-xs-4" for="defaultAmountPerTime">Default Amount Per Time:</label>
                    <div class="input-group col-xs-5"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-usd"></span>
                                </span>
                        <input type="number" id="defaultAmountPerTime" name="defaultAmountPerTime" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group" style="padding-bottom: 1%">
                    <label class="control-label col-xs-4" for="maxAmountPerTime">Max Amount Per Time:</label>
                    <div class="input-group col-xs-5"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-usd"></span>
                                </span>
                        <input type="number" id="maxAmountPerTime" name="maxAmountPerTime" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group" style="padding-bottom: 1%">
                    <label class="control-label col-xs-4" for="maxAmountDaily">Max Amount Daily:</label>
                    <div class="input-group col-xs-5"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-usd"></span>
                                </span>
                        <input type="number" id="maxAmountDaily" name="maxAmountDaily" class="form-control" placeholder="">
                    </div>
                </div>

                <h3 id="paymentMethod">Payment Method</h3>
                <div id="noPaymentMethod" style="display: none">
                    <p style="margin-top: 0px; text-align: center;font-style:italic;"><strong>You have no binding payment method.</strong></p><br>
                </div>
                <div id="hasPaymentMethod">
                    <div class="form-group" >
                        <label class="control-label col-xs-4" for="cardInfo">Funding:</label>
                        <div id="paymentFunding" class="input-group col-xs-5"  >
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="control-label col-xs-4" for="cardInfo">Brand:</label>
                        <div id="paymentBrand" class="input-group col-xs-5"  >
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="control-label col-xs-4" for="cardInfo">Card:</label>
                        <div id="paymentCardNumber" class="input-group col-xs-5"  >
                        </div>
                    </div>
                </div>
                </hr>
                <div class="col-xs-6" style="padding-top: 1%; padding-bottom: 2%;float: left">
                    <button id="submitUpdateProfilePasswordButton" class="btn btn-primary btn-block" type="submit" >Save All Setting</button>
                </div>
            </form>
        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
</div><!--/.container-->
<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/jquery-validation/dist/additional-methods.min.js"></script>


<script>
    $.validator.addMethod('minStrict', function (value, el, param) {
        return value > param;
    });
    var userSettings={};
    function getUserSettings () {
        $.get("/services/user/settings", function(data){
            if(data=="failed") {
            } else {
                userSettings=data;
                $('#maxAmountDaily').val(data.maxAmountDaily);
                $('#maxAmountPerTime').val(data.maxAmountPerTime);
                $('#defaultAmountPerTime').val(data.defaultAmountPerTime);
                if(data.receiveEmailUpdate=='N') {
                    $('#receiveEmailUpdate').prop('checked',false);
                }
                if(data.receiveEmailNotification=='N') {
                    $('#receiveEmailNotification').prop('checked',false);
                }
                if(data.allowContributionPublic=='N') {
                    $('#allowContributionPublic').prop('checked',false);
                }
            }
        });
    }

    var userSettingsFormValidateParams = {
        errorClass: "my-error-class",
        //validClass: "my-valid-class",
        rules: {
            defaultAmountPerTime: {
                required: true,
                digits : true,
                minStrict : 0
                //remote: "users.php"
            },
            maxAmountPerTime: {
                required : true,
                digits : true,
                minStrict : 0
            },
            maxAmountDaily: {
                required : true,
                digits : true,
                minStrict : 0
            }
        },
        messages: {
            defaultAmountPerTime: {
                required: 'Required.',
                minStrict: 'Must be greater than 0.'
            },
            maxAmountPerTime: {
                required: 'Required.',
                minStrict: 'Must be greater than 0.'
            },
            maxAmountDaily: {
                required: 'Required.',
                minStrict: 'Must be greater than 0.'
            }
        }

    };

    $("#userSettingsForm").validate(
            userSettingsFormValidateParams
    );
    $("#userSettingsForm").submit(function(event) {
        event.preventDefault();
        $('#successUpdateSettingsMessage').hide();
        $('#failUpdateSettingsMessage').hide();

        if (!$("#userSettingsForm").valid()) {
            console.log("UserSettingsForm is not valid!");
            return;
        }

        userSettings.maxAmountDaily = $('#maxAmountDaily').val();
        userSettings.maxAmountPerTime = $('#maxAmountPerTime').val();
        userSettings.defaultAmountPerTime = $('#defaultAmountPerTime').val();
        if($('#receiveEmailUpdate').prop('checked')) {
            userSettings.receiveEmailUpdate='Y';
        } else {
            userSettings.receiveEmailUpdate='N';
        }
        if($('#receiveEmailNotification').prop('checked')) {
            userSettings.receiveEmailNotification='Y';
        } else {
            userSettings.receiveEmailNotification='N';
        }
        if($('#allowContributionPublic').prop('checked')) {
            userSettings.allowContributionPublic='Y';
        } else {
            userSettings.allowContributionPublic='N';
        }

        $.post('/services/user/settings', {userSettings: userSettings}, function(data){
            if(data=="success") {
                $('#successUpdateSettingsMessage').show();
                $('#failUpdateSettingsMessage').hide();

            } else {
                $('#successUpdateSettingsMessage').hide();
                $('#failUpdateSettingsMessage').show();
                getUserSettings();
            }
        })

    });

    function getPaymentInformation() {
        var existingStripeCustomerById = '/services/payment/stripePayment/queryUser/';
        $.get(existingStripeCustomerById, {userId: <%=user.userId%>}, function (result) {
            console.dir(result);
            if (!result || result == "failed") {
                //TODO show error message
                console.dir("failed to get results");
                return;
            }

            if (result.last4 != null) {
                $('#paymentFunding').html(result.funding.toUpperCase());
                $('#paymentBrand').html(result.type);
                $('#paymentCardNumber').html('xxxx-xxxx-xxxx-'+result.last4);
            } else {
                $('#hasPaymentMethod').hide();
                $('#noPaymentMethod').show();
            }
        });
    }
    $( document ).ready(function() {
        getUserSettings();
        getPaymentInformation();
    });
</script>
</body>
</html>