<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/simplePagination.css" >
</head>
<body>
    <%activeMenu = "SignUp"%>
    <%include ../layout/navbar.ejs%>
<div class="container sidebar-content" style="height:auto; min-height: 90%;">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas"   id="sidebar" role="navigation"  >
            <div data-spy="affix" data-offset-top="15" data-offset-bottom="30">
                <ul class="nav" style="color: #000000;" id="sidebar-nav">
                    <li class="sidebar-offcanvas" style="font-style: italic; font-size: 40px; padding-bottom: 10%" >
                        <img src="<%=user.imageIconUrl%>" height="80" width="80"/> &nbsp;
                        <strong> <%=user.firstName%></strong></li>
                    <li>
                        <a href="/users/account" style="color: #000000;">Edit Profile</a>
                    </li>
                    <li  >
                        <a href="/users/settings" style="color: #000000;">Settings</a>
                    </li>

                    <li>
                        <a href="/users/contribution" style="color: #000000;">My Contributions</a>
                    </li>
                    <li>
                        <a href="/users/pledge" style="color: #000000;"><strong>My Pledges</strong></a>
                    </li>
                    <li>
                        <a href="/users/collections" style="color: #000000;">My Favorites</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9" data-spy="scroll" style="padding-left: 5%" data-target="#sidebar-nav">
            <h2 class="sub-header">My Pledges</h2>
            <div id="page" ></div>

            <div id="resultsContainer" class="">

                <div class="table-responsive">
                    <table id="transactionHistoryTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Confirmation #</th>
                            <th>Date/Time</th>
                            <th>Amount($)</th>
                            <th>Contribute To</th>
                            <th>Status</th>
                            <th>Approve</th>
                        </tr>
                        </thead>
                        <tbody id="transactionHistoryTableBody">


                        </tbody>
                    </table>
                </div>
            </div>
            <div id="botPage" style="float: left"></div>
            <div id="noresult" style="display: none" >
                <h3>Sorry, you have no pledges yet</h3>
            </div>

            <!-- We  need to be able to let user to choose payment method when approving pledges-->
            <!-- Modal -->
            <div class="modal modal-wide fade " id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width : 30%">
                    <div class="modal-content">
                        <div class="modal-header" >
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center" id="myModalTitle">WillGive</h4>

                        </div>
                        <form id="pledgePaymentForm" class="form-row" method="post" style="padding-top: 0%">

                            <div class="modal-body" >

                                <div id="pledgePaymentReporter" style="padding-bottom: 2%"></div>

                                <div id="existingPaymentMethod" class="form-group">
                                    <label class="control-label col-xs-4" style="padding-bottom: 2%"> Payment Method:</label>
                                    <div class="control-group input-group row">

                                        <div class="controls input-group">
                                            <label class="radio">
                                                <input type="radio" name="payment[role]" id="existingCard" value="existing" >
                                                <div id="cardNumber">Visa: xxxx-xxxx-xxxx </div>
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="payment[role]" id="otherMethod" value="other" checked>
                                                <div id="otherMethod">Use Other Payment</div>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="checkbox form-group" id="rememberPaymentMethodCheckbox" >
                                    <label><input type="checkbox" id="rememberPaymentMethod"  name="rememberPaymentMethod" >Remember my payment information.</label>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button id="cancalModal" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button id="confirm" type="button" class="btn btn-primary">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div><!-- /.col-xs-12 main -->

    </div><!--/.row-->
</div><!--/.container-->



<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>
<script src="/assets/js/jquery.simplePagination.js"></script>
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script>
    var transactionHistory=[];


    //stripeCustomerId = result.stripeCustomerId;


    function approvePledge(pb) {

        var queryPledgeByConfirmationCode = '/services/payment/stripePayment/queryPledge/';

        var existingUserById = '/services/payment/stripePayment/queryUser/';

        console.dir("confirmationId: " + pb.id);//

        $.get(queryPledgeByConfirmationCode, { confirmationCode: pb.id}, function (result) {
            console.dir("queryPledgeByConfirmationCode: " + pb.id);

                //update transaction histroy and mark status as complete

            console.dir("current amount:" + result.amount);
            console.dir("current recipientId:" + result.recipientId);
            console.dir("current stripeCustomerId:" + result.stripeCustomerId);

                var amount = result.amount;
                var recipientId = result.recipientId;

                var stripeCustomerId = result.stripeCustomerId;





                jQuery("#amount").val(amount);
                jQuery("#stripeCustomerId").val(stripeCustomerId);
                jQuery("#receipientId").val(recipientId);
                jQuery("#isPledge").val(true);
                jQuery("#confirmationCode").val(pb.id);

                console.dir("hiding: " + pb.id + "tr");
                jQuery("#" + pb.id + "tr").hide();


                console.dir("stripeCustomerId(charity.ejs): " + stripeCustomerId);

                console.dir(" isPledge .val " + jQuery("#isPledge").val());

                //if stripCustomerId not null, then post to the payment page automatically
                if (stripeCustomerId != 'undefined' && $.trim(stripeCustomerId)) {
                    console.dir("existing customers");

                    jQuery("#stripeCustomerId").val(stripeCustomerId);
                    /*
                     $('form').submit().done( function(msg) { console.dir("after submission succeed"); } )
                     .fail( function(xhr, textStatus, errorThrown) {
                     alert(xhr.responseText);
                     });*/

                    $.post("/services/payment/stripePayment", {amount: jQuery("#amount").val(), notes: jQuery("#notes").val(),
                                receipientId: jQuery("#receipientId").val(), stripeCustomerId: jQuery("#stripeCustomerId").val(),
                                stripeTokenInput: jQuery("#stripeTokenInput").val(), isPledge: jQuery("#isPledge").val(),
                                confirmationCode: jQuery("#confirmationCode").val()
                            }
                    ).done(function (msg) {
                                console.dir("after submission succeed");
                            })
                            .fail(function (xhr, textStatus, errorThrown) {
                                alert(xhr.responseText);
                            });
                    ;
                    console.dir("Pledge payment successfully made ");
                    //return;
                }
                else {
                    console.dir("now start paying");
                    console.dir("amount" + jQuery("#amount").val());
                    var token = function (res) {
                        //$('#stripeTokenInput').val(res.id);
                        //$('form').submit();
                        $.post("/services/payment/stripePayment", {
                            amount: jQuery("#amount").val(),
                            notes: jQuery("#notes").val(),
                            receipientId: jQuery("#receipientId").val(),
                            stripeCustomerId: 0,
                            stripeToken: res.id
                        }).done(function (msg) {
                            $('#stripeTokenInput').val('');
                            console.dir("after submission succeed");
                        })
                                .fail(function (xhr, textStatus, errorThrown) {
                                    $('#stripeTokenInput').val('');
                                    alert(xhr.responseText);
                                    console.dir("after submission failed");
                                });
                    };
                    var payAmount = jQuery("#amount").val();

                    StripeCheckout.open({
                        key: 'pk_test_iJPmMQMGarAHRE7oUcM5iBxO',
                        address: true,
                        amount: payAmount * 100,//scale in cents instead of dollar
                        currency: 'usd',
                        name: 'User:' + '<%=user.firstName%>',
                        description: 'Will Give Checkout',
                        allowRememberMe: false,
                        panelLabel: 'Checkout',
                        token: token
                    });

                    return false;


                }


        });


    }

    var defaultHTML =
            '<tr id={ConfirmationIdTr}> <td > {Id} </td> ' +
            ' <td> {Date} </td> ' +
            ' <td class="text-center"> {Amount} </td> ' +
            ' <td> {Recipient} </td> ' +
            ' <td> {Status} </td> ' +
            ' <td> <button type="button" id={ConfirmationId} class=\'donateButton\' onclick=\'approvePledge(this);\'>Approve</button></td>'
    ' </tr> ';

    function replaceHtml(transaction) {
        return defaultHTML.replace("{Id}", transaction.confirmationCode)
                .replace("{Date}", dateTimeDisplayFormatter(transaction.dateTime))
                .replace("{Amount}", transaction.amount)
                .replace("{Recipient}", '<a href="/charity/' + transaction.recipientId + '" style="color: #202090">' + transaction.name + '</a>')
                .replace("{Status}", transaction.status).replace("{ConfirmationId}", transaction.confirmationCode).replace("{ConfirmationIdTr}", transaction.confirmationCode + "tr");
        ;

    }

    // function initResultPage(searchResults){
    function initResultPage(data) {
        $('#botPage').empty();

        var itemsOnPage = 20;
        var resultConainer = $('#transactionHistoryTableBody');

        $('#botPage').pagination({
            items: transactionHistory.length,
            itemsOnPage: itemsOnPage,
            onInit: initPage,
            currentPage: 0,
            onPageClick: function () {
                var page_index = $("#botPage").pagination('getCurrentPage') - 1;
                resultConainer.empty();
                for (var i = page_index * itemsOnPage; i < (page_index + 1) * itemsOnPage; ++i) {
                    resultConainer.append(replaceHtml(transactionHistory[i]));
                }
                //$("#page").pagination('drawPage',$("#botPage").pagination('getCurrentPage'));

            },
            cssStyle: 'light-theme'
        });

        function initPage() {
            resultConainer.empty();
            for (var i = 0; i < itemsOnPage && i < transactionHistory.length; ++i) {
                resultConainer.append(replaceHtml(transactionHistory[i]));
            }
        }
    }






</script>

    <form id="form" action="/services/payment/stripePayment" method="POST" style="display:none;">
        <input id="amount"  name="amount" value="0">
        <input id="notes"  name="notes" value="0">
        <input id="receipientId"  name="receipientId" value="0">
        <input id="stripeCustomerId"  name="stripeCustomerId" value="0">
        <input id= stripeTokenInput type=hidden name=stripeToken />
        <input id= confirmationCode type=hidden name=confirmationCode />
        <input id="isPledge"  name="isPledge" value=false>

    </form>




<script>

    function refreshPage(){
        location.reload();
    }

    function displayNoResults(){
        //resultConainer.empty();
        $('#botPage').empty();
        $('#noresult').show(); //text("Sorry, you have no contribution yet.");//add keyword

    }
    function dateDisplayFormatter( cellvalue, options, rowObject ){
        return cellvalue.substr(0,10);
    }
    function dateTimeDisplayFormatter( cellvalue, options, rowObject ){
        return cellvalue.substr(0,16);
    }
    function getUserPlegeHistory(){
       $.get('/services/user/getPledgeHistory',function(data){
           if(!data || data == "failed") {
               //get history failed
               return;
           }
           if(data.length>0) {
               console.dir(data);
               transactionHistory = data;
               initResultPage(data);
           }
           else {
               displayNoResults();
           }
       })
    }

   $( document).ready(function(){
       getUserPlegeHistory();
   }
   )
</script>
</body>
</html>