<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
</head>
<body>
    <%activeMenu = "SignUp"%>
    <%include ../layout/navbar.ejs%>
<div class="container sidebar-content" style="height:auto; min-height: 90%;">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation"  >
            <div data-spy="affix" data-offset-top="15" data-offset-bottom="30">
                <ul class="nav" style="color: #000000;" id="sidebar-nav">
                    <li class="sidebar-offcanvas" style="font-style: italic; font-size: 40px; padding-bottom: 10%" >
                        <img src="<%=user.imageIconUrl%>" height="80" width="80"/> &nbsp;
                        <strong> <%=user.firstName%></strong></li>
                    <li>
                        <a href="/users/account" style="color: #000000;">Edit Profile</a>
                    </li>
                    <li  >
                        <a href="/users/settings" style="color: #000000;">Settings</a>
                    </li>
                    <li>
                        <a href="/users/paymentMethod" style="color: #000000;"><strong>Payment Method</strong></a>
                    </li>
                    <li>
                        <a href="/users/contribution" style="color: #000000;">My Contributions</a>
                    </li>
                    <li>
                        <a href="/users/pledge" style="color: #000000;">My Pledges</a>
                    </li>
                    <li>
                        <a href="/users/collections" style="color: #000000;">My Favorites</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9" data-spy="scroll" style="padding-left: 5%" data-target="#sidebar-nav">
            <h1 id="section1">Comming Soon</h1>
            <form action="" method="POST" id="payment-form">
                <span class="payment-errors"></span>

                <div class="form-row">
                    <label>
                        <span>Card Number</span>
                        <input type="text" size="20" data-stripe="number"/>
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>CVC</span>
                        <input type="text" size="4" data-stripe="cvc"/>
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>Expiration (MM/YYYY)</span>
                        <input type="text" size="2" data-stripe="exp-month"/>
                    </label>
                    <span> / </span>
                    <input type="text" size="4" data-stripe="exp-year"/>
                </div>

                <button type="submit">Submit Payment</button>
            </form>
            <form action="/" method="post" id="bindPaymentMethodForm" >

                <div class="form-row">
                    <label for="name" class="stripeLabel">Your Name</label>
                    <input type="text" name="name" class="required" />
                </div>

                <div class="form-row">
                    <label for="email">E-mail Address</label>
                    <input type="text" name="email" class="required" />
                </div>

                <div class="form-row">
                    <label>Card Number</label>
                    <input type="text" maxlength="20" autocomplete="off" class="card-number stripe-sensitive required" />
                </div>

                <div class="form-row">
                    <label>CVC</label>
                    <input type="text" maxlength="4" autocomplete="off" class="card-cvc stripe-sensitive required" />
                </div>

                <div class="form-row">
                    <label>Expiration</label>
                    <div class="expiry-wrapper">
                        <select class="card-expiry-month stripe-sensitive required">
                        </select>
                        <script type="text/javascript">
                            var select = $(".card-expiry-month"),
                                    month = new Date().getMonth() + 1;
                            for (var i = 1; i <= 12; i++) {
                                select.append($("<option value='"+i+"' "+(month === i ? "selected" : "")+">"+i+"</option>"))
                            }
                        </script>
                        <span> / </span>
                        <select class="card-expiry-year stripe-sensitive required"></select>
                        <script type="text/javascript">
                            var select = $(".card-expiry-year"),
                                    year = new Date().getFullYear();

                            for (var i = 0; i < 12; i++) {
                                select.append($("<option value='"+(i + year)+"' "+(i === 0 ? "selected" : "")+">"+(i + year)+"</option>"))
                            }
                        </script>
                    </div>
                </div>

                <button type="submit" name="submit-button">Submit</button>
                <span class="payment-errors"></span>
            </form>

        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
</div><!--/.container-->
<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>
</body>
</html>