<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/simplePagination.css" >
</head>
<body>
    <%activeMenu = "SignUp"%>
    <%include ../layout/navbar.ejs%>
<div class="container sidebar-content" style="height:auto; min-height: 90%; padding-top: 5%">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation"  >
            <div data-spy="affix" data-offset-top="15" data-offset-bottom="30">
                <ul class="nav" style="color: #000000;" id="sidebar-nav">
                    <li class="sidebar-offcanvas" style="font-style: italic; font-size: 40px; padding-bottom: 10%" >
                        <img src="<%=user.imageIconUrl%>" height="80" width="80"/> &nbsp;
                        <strong> <%=user.firstName%></strong></li>
                    <li>
                        <a href="/users/account" style="color: #000000;">Edit Profile</a>
                    </li>
                    <li  >
                        <a href="/users/settings" style="color: #000000;">Settings</a>
                    </li>

                    <li>
                        <a href="/users/contribution" style="color: #000000;">My Contributions</a>
                    </li>
                    <li>
                        <a href="/users/pledge" style="color: #000000;">My Pledges</a>
                    </li>
                    <li>
                        <a href="/users/collections" style="color: #000000;"><strong>My Favorites</strong></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main area -->
        <!-- main area -->
        <div class="col-xs-12 col-sm-9" data-spy="scroll" style="padding-left: 3%" data-target="#sidebar-nav">
            <h2 class="sub-header">My Charities</h2>
            <div id="page" ></div>

            <div id="resultsContainer" class="">
                <div class="table-responsive">
                    <table id="resultTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Organization</th>
                            <th>&nbsp;</th>
                            <th>EIN</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Phone</th>
                            <th>Mission</th>
                        </tr>
                        </thead>
                        <tbody id="resultTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="botPage" style="float: left"></div>
            <div id="noresult" style="display: none" >
                <h3>Sorry, you have no favorite charity yet</h3>
            </div>
            <div id="notLogin" style="display: none" >
                <h3>Sorry, you have not logged in yet</h3>
            </div>

        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
</div><!--/.container-->
<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>
<script src="/assets/js/jquery.simplePagination.js"></script>

<%include ../charity/charityList.ejs%>
<script>
    function displayNotLoggedIn(){
        $('#botPage').empty();
        $('#notLogin').show();

    }
    function getUserFavoriteCharity(){
        $.get('/services/user/getFavoriteCharity',function(data){
            if(!data || data == "failed") {
                //get  failed
                return;
            }
            if(data.length>0) {
                console.dir(data);
                initResultPage(data);
            }
            else {
                displayNoResults();
            }
        })
    }

    $( document).ready(function(){
        <% if ( 'undefined' == typeof user || user.provider=='recipient' ) { %>
        displayNotLoggedIn();
        <% } else { %>
        getUserFavoriteCharity();
        <%}%>
    })
</script>
</body>
</html>