.greenButton {
    display : inline-block;
    cursor : pointer;

    border-style : solid;
    border-width : 1px;
    border-radius : 10px;
    box-shadow : 0 1px 4px rgba(0,0,0,.6);
    font-size : 10pt;
    font-weight : bold;
    color : #fff;
    text-shadow : 0 1px 3px rgba(0,0,0,.4);
    font-family : sans-serif;
    text-decoration : none;
    border-color: #78DC96;
    background: #78DC96;
    background: -moz-linear-gradient(top, #8fc800 0%, #438c00 100%);
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#8fc800), color-stop(100%,#438c00));
    background: -webkit-linear-gradient(top, #8fc800 0%,#438c00 100%);
    background: -o-linear-gradient(top, #8fc800 0%,#438c00 100%);
    background: -ms-linear-gradient(top, #8fc800 0%,#438c00 100%);
    background: linear-gradient(top, #8fc800 0%,#438c00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#8fc800', endColorstr='#438c00',GradientType=0 );
}
.blueButton {
    display : inline-block;
    cursor : pointer;

    border-style : solid;
    border-width : 1px;
    border-radius : 10px;
    box-shadow : 0 1px 4px rgba(0,0,0,.6);
    font-size : 10pt;
    font-weight : bold;
    color : #fff;
    text-shadow : 0 1px 3px rgba(0,0,0,.4);
    font-family : sans-serif;
    text-decoration : none;
    border-color : #2989d8;
    background: #2989d8;
    background: -moz-linear-gradient(top, #2989d8 0%, #1e5799 100%);
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#2989d8), color-stop(100%,#1e5799));
    background: -webkit-linear-gradient(top, #2989d8 0%,#1e5799 100%);
    background: -o-linear-gradient(top, #2989d8 0%,#1e5799 100%);
    background: -ms-linear-gradient(top, #2989d8 0%,#1e5799 100%);
    background: linear-gradient(top, #2989d8 0%,#1e5799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#2989d8', endColorstr='#1e5799',GradientType=0 );
}

.greenButton:hover, .greenButton:focus, .greenButton:active,.greenButton:disabled{
    background: #8fc800;
}
.greenBorder {
    border-color: #8fc800;
}

.greenText {
    color : #78DC96;
}

.grayBackground {
    background:#f0f0f0;
}

hr.greenLine  {
    background-color: #78DC96;
    height: 1px;
    border: 0;
}