/* general styles */
html, body {
    height: 100%;
    width: 100%;
}

/* padded section */
.pad-section {
    padding: 50px 0;
}
.pad-section img {
    width: 100%;
}

/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* additional sections */
#home {
    background: url(/images/homeNew.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.glyphicon-cloud,.glyphicon-leaf,.glyphicon-phone-alt,.glyphicon-bullhorn{

    color: #99CC01
}
#about {
}

#services {
    background-color: #306d9f;
    color: grey;
}
#services .glyphicon {
    border: 2px solid ;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

#information {
    background: no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#information .panel {
    opacity: 0.85;
}



footer {
    padding: 20px 0;
}
footer .glyphicon {
    color: #333333;
    font-size: 60px;
}
footer .glyphicon:hover {
    color: #306d9f;
}