<script>
    var defaultHTML =
        '<tr> <td> {name} </td> '+
        ' <td align=middle> {ICONS} </td> ' +
        ' <td> {ein} </td> ' +
        ' <td> {City} </td> ' +
        ' <td> {State} </td> ' +
        ' <td> {Phone} </td> ' +
        ' <td> {Mission} </td> ' +
        ' </tr> ';
    var moreCount = 0;
    function unHide(c)
    {
     document.getElementById("s" + c).style.display = "none";
     document.getElementById("h" + c).style.display = "block";
    }

    function addMore(text)
    {
        var cut = 80;
        if (text.length < cut) return text;
		moreCount ++;
        text = "<span id=s" + moreCount + ">" + text.substring(0, cut-7) + " <a style=\"color: #202090;cursor:hand; cursor:pointer\" onClick=\"unHide('" + moreCount + "')\">...(more)</a></span>"
		+ "<span id=h"+moreCount + " style=\"display:none\">" + text + "</span>";
        return text;
    }		
	var lock = false;
	function flipFav(rid)
	{
	    if (lock) return;
		lock = true;
		var currentImg = "" + document.getElementById("img" + rid).src;
		var newValue = "N";
		if (currentImg.indexOf("fav2") == -1) // No
		{
			document.getElementById("img" + rid).src = "/images/fav2.png";
			newValue = "Y";
		}else
			document.getElementById("img" + rid).src = "/images/fav.png";
		$.get("/services/user/setFavoriteCharity?rid=" + rid + "&value=" + newValue,function(data){});
		lock = false;
	}	
	
    var resultConainer = $('#resultTableBody');
    function replaceHtml(transaction){
	    var website = transaction.website;
		if(website.indexOf("http:") == -1)
			 website = "http://" + website;
	    var favIcon = "";
   	    <% if ( 'undefined' == typeof user ) { %>
       	;
       	<% } else { %>		
		  if(transaction.isFavored == 'Y')
			favIcon = "<a style=\"cursor:hand; cursor:pointer\"  onClick=\"flipFav('" + transaction.recipientId + "')\"><img src='/images/fav2.png' id=img" + transaction.recipientId +" border=0 width=30 height=27></a>";
		 else
		    favIcon = "<a style=\"cursor:hand; cursor:pointer\" onClick=\"flipFav('" + transaction.recipientId + "')\"><img src='/images/fav.png' id=img" + transaction.recipientId +" border=0 width=30 height=27></a>";
		<%}%>
			
        return defaultHTML.replace("{name}","<a style=\"color: #202090;\" href='/charity/" + transaction.recipientId + "'>" + transaction.name + "</a>" )
		.replace("{ICONS}","<a style=\"color: #202090;\" href='" + website + "' target='_blank'><img src='/images/web.png' border=0 width=20 height=20></a>"  + favIcon)
                .replace("{ein}",transaction.ein)
                .replace("{City}",transaction.city)
		.replace("{State}",transaction.state)
                .replace("{Phone}",transaction.phone)
                .replace("{Mission}",addMore(transaction.mission))
                ;
    }
    function initResultPage(results){
        $('#botPage').empty();

        var itemsOnPage = 10;

        $('#botPage').pagination({  
            items: results.length, 
            itemsOnPage: itemsOnPage,  
            onInit: initPage,
            currentPage: 0,
            onPageClick: function(){
                var page_index = $("#botPage").pagination('getCurrentPage') -1;
                resultConainer.empty();
                for(var i=page_index*itemsOnPage;i<(page_index+1)*itemsOnPage;++i) {
                    resultConainer.append(replaceHtml(results[i]));
                }
                //$("#page").pagination('drawPage',$("#botPage").pagination('getCurrentPage'));

            },
            cssStyle: 'light-theme' 
        });
        function initPage() {
            resultConainer.empty();
            for(var i=0;i<itemsOnPage && i< results.length;++i) {
                resultConainer.append(replaceHtml(results[i]));
            }
        }
    }
    function displayNoResults(){
        resultConainer.empty();
        $('#botPage').empty();
        $('#noresult').show(); 
    }

    function dateDisplayFormatter( cellvalue, options, rowObject ){
        return cellvalue.substr(0,10);
    }
</script>