<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="author" content="Script Tutorials" />
      <title>WillGive</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- attach CSS styles -->
      <%activeMenu = "Charities"%>
      <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="/assets/css/style.css" rel="stylesheet" />
      <script src="/jquery/dist/jquery.js"></script>
      <style>
          body{
              background-color: lightgray;
          }
          #main
          {
              margin-top:10px;
              margin-left: 15%;
              margin-right: 15%;
              border: 10px;
              border-color: black;
          }

          #main_left{
              margin-top: 2%;
          }

          #main_right{
              margin-top: 2%;
          }

          #wrapper{
              background-color: white;
          }


      </style>
      <%include ../layout/navbar.ejs%>

      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/jquery-validation/dist/jquery.validate.js"></script>
      <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
      <script src="https://checkout.stripe.com/v2/checkout.js"></script>

  </head>

  <body>
      <!-- wrapper-->

    <div id="main" class="container-fluid" >




        <div class="row">

          <div id="wrapper" class="container-fluid" >
            <div id="main_left" class="col-lg-8">
                <!--Gallery Slides-->
                <div id="img_slides" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img id ="charity_logo" src=""  alt="First slide">
                        </div>
                    </div>
                </div>

                <!-- left text-->
                <div id="introduction">
                    <h2>
                        Missions
                    </h2>
                    <hr/>
                    <p id="mission_content">  </p>
                    <p>
                        <a class="btn" href="#">MORE »</a>
                    </p>
                </div>
            </div>

            <div id="main_right" class="col-lg-4">


                <!-- contribute button-->

                <form action="javascript:void(0);" method="post" id="example-form" style="display: block;">


                    <div class="form-row">
                        <label>Amount</label>
                        <input id="paymentAmount" type="text" maxlength="20" autocomplete="off" class="required" />
                        <button type="submit" name="submit-button" onClick="enableCheckout()">Confirm</button>
                    </div>

                    <input id="amount" type="hidden" autocomplete="off" name="amount" value="300" >



                </form>

                <div id="contribute_button"  class="btn btn-block btn-lg btn-primary" style="display:none;">
                    Contribute
                </div>



              <!-- progress bar-->
              <!--facebook of current login user -->
              <!--recent donor -->
                <div id="rec_don">
                    <h3>Contributions</h3>
                    <hr/>
                    <img src="/images/launch_icon.png" width="30" height="25" style="float: left" />
                    <table style="margin-left: 50px">
                             <tr><td>UserName1</td></tr>
                             <tr><td>some times ago</td></tr>
                    </table>
                    <hr/>
                    <img src="/images/launch_icon.png" width="30" height="25" style="float: left" />
                    <table style="margin-left: 50px">
                        <tr><td>UserName2</td></tr>
                        <tr><td>some times ago</td></tr>
                    </table>
                    <hr/>
                    </div>
                </div>
          </div>
        </div>
    </div>


      <script>
          function enableCheckout() {
              document.getElementById("contribute_button").style.display="block";
             // alert("Please confirm you will pay the following amount: "+ jQuery("#paymentAmount").val());
              jQuery('#amount').val(jQuery("#paymentAmount").val());
              //alert("Set amount: "+ jQuery("#amount").val());
          }

      </script>

      <script src="https://checkout.stripe.com/v2/checkout.js"></script>


      <form id="form" action="/payment/stripePayment" method="POST" style="display:none;">
          <input id="amount" type="hidden" autocomplete="off" name="amount" value="200">

      </form>

      <script>

          $('#contribute_button').click(function(){

              //get userId from session
             alert("userId:"+ <%=user.userId%>);
              //query DB to find strip ID


            //jQuery.get( url [, data ] [, success ] [, dataType ] )
              existingUserById = '/payment/stripePayment/customerId/' +  <%=user.userId%>;

              var stripId;
              //Inside a function a special variable "arguments" is always available. It's similar to an array in that it has a length property, but it lacks the built-in methods of an array.
              $.get(existingUserById,function(results) {
                  if(!results || results == "failed") {
                      return;
                  }

                  if(results.length>0) {

                      stripId=results[0].stripe_customerId;
                      console.dir(data);
                  }

              })

              alert("currentUserStripId:"+ stripId);
              //direct charge on the account without pop up payment checkout wizard

              var token = function(res){
                  var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                  $('form').append($input).submit();
              };
              var payAmount=  jQuery('#amount').val();
              StripeCheckout.open({
                  key:         'pk_test_iJPmMQMGarAHRE7oUcM5iBxO',
                  address:     true,
                  amount:      payAmount,
                  currency:    'usd',
                  name:        'User',
                  description: 'Will Give Checkout Widget',
                  panelLabel:  'Checkout',
                  token:       token
              });

              return false;
          });
      </script>

    <%include ../layout/footer.ejs%>
    <script language="JavaScript">

        (function($){
            $.getUrlParam
                    = function(name)
            {
                var reg
                        = new RegExp("(^|&)"+
                        name +"=([^&]*)(&|$)");
                var r
                        = window.location.search.substr(1).match(reg);
                if (r!=null) return unescape(r[2]); return null;
            }
        })(jQuery);

        $(document).ready(function(){


          serviceCharityById = '/services/charityById?id=' + $.getUrlParam('id');

            function getCharityById(){

                $.get(serviceCharityById,function(data) {

                    if(!data || data == "failed") {
                        //get  failed
                        return;
                    }

                    if(data.length>0) {
                        console.dir(data);
                        charity = data[0];
                        $('#mission_content')[0].innerHTML=charity.MISSION;
                        $('#charity_logo')[0].setAttribute('src', charity.Image_URL);


                    }
                    else {
                        //displayNoResults();
                    }
                })
            }

            getCharityById();
        })




    </script>

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  </body>

</html>