<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="author" content="Script Tutorials" />
      <title>WillGive</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- attach CSS styles -->
      <%activeMenu = "Charities"%>
      <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="/assets/css/style.css" rel="stylesheet" />
      <style>
          body{
              background-color: lightgray;
          }
          #main
          {
              margin-top:10px;
              margin-left: 15%;
              margin-right: 15%;
              border: 10px;
              border-color: black;
          }

          #main_left{
              margin-top: 2%;
          }

          #main_right{
              margin-top: 2%;
          }

          #wrapper{
              background-color: white;
          }



      </style>
      <%include ../layout/navbar.ejs%>

      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/jquery-validation/dist/jquery.validate.js"></script>
      <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
      <script src="https://checkout.stripe.com/v2/checkout.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places,geometry"></script>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54ade3b442958c1a" async="async"></script>
  </head>

  <body>
      <!-- wrapper-->
      <div id="fb-root"></div>
      <script>
          window.fbAsyncInit = function() {
              FB.init({
                  appId      : '323966477728028',
                  xfbml      : true,
                  version    : 'v2.1'
              });
          };

          (function(d, s, id){
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) {return;}
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
      </script>


    <div id="main" class="container-fluid" >

        <%if( undefined == typeof user || user == null) {%>
            <div id="userId" style="display: none"></div>
        <%} else {%>
            <div id="userId" style="display: none"><%=user.userId%></div
        <%}%>


        <div class="row">
            <div class="text-center" style="padding-bottom: 2%;padding-top: 2%">
                <h2 id="orgName" class="text-center" style=" "></h2>
                <div class="row">
                    <div id="fblike"><fb:like show-faces="false" layout="button_count"></fb:like></div>

                </div>
            </div>
            <div id="editMyPageDiv" class="row" style="display: none">
                <a href="#" id="editMyPageLink" style="float: right; padding-right: 5%">Edit My Page</a>
            </div>

            <div id="wrapper" class="container-fluid" >
            <div id="main_left" class="col-lg-8">
                <!--Gallery Slides-->

                <div id="img_slides" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img og:image id ="charity_logo" src="" alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 50px; padding-top: 1%;padding-bottom: 1%">
                    <div class="share_button col-xs-2" >
                        <div class="fb-share-button" id="fbShareButton" data-href="www.willgive.org/charity/<%=pageId%>" data-type="button_count"></div>
                    </div>
                    <div id="tweets" class="col-xs-1">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-size="">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                </div>
                <!-- left text-->
                <div id="introduction">

                    <hr/>
                    <h3>
                        Missions
                    </h3>

                    <p id="mission_content">  </p>

                    <hr/>

                    <h3>
                        Information
                    </h3>

                    <div id="infoDiv" >
                        <div class="row" style="padding-top: 2%">
                            <div class="col-xs-4"><strong>Organization Name:</strong> </div>
                            <div class="col-xs-8" id="nameInfo" style="float: left"></div>

                        </div>
                        <div class="row" style="padding-top: 2%">
                            <div class="col-xs-4"><strong>EIN:</strong> </div>
                            <div class="col-xs-8" id="EINInfo"></div>

                        </div>

                        <div class="row" style="padding-top: 2%">
                            <div class="col-xs-4"><strong>Website: </strong></div>
                            <a href='' class="col-xs-8" id="websiteInfo"></a>

                        </div>
                        <div class="row" style="padding-top: 2%">
                            <div class="col-xs-4"><strong>Facebook: </strong></div>
                            <a href='' class="col-xs-8" id="facebookPageInfo"></a>
                        </div>
                        <div class="row" style="padding-top: 2%">
                            <div class="col-xs-2"><strong>Phone: </strong></div>
                            <div class="col-xs-4"  id="phoneInfo"></div>
                            <div class="col-xs-2"><strong>Fax: </strong></div>
                            <div class="col-xs-4" id="faxInfo"></div>
                        </div>
                    </div>
                    <hr/>

                    <h3>
                        Map and Reviews
                    </h3>

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" id="maptab" href="#mapSection" ><h5>Map</h5></a></li>
                        <li><a data-toggle="tab" href="#reviewSection"><h5>Reviews</h5></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="mapSection" class="tab-pane fade in active" style="padding-bottom: 3%">
                            <p>
                                <a href="" data-toggle="modal" data-target="#myModal" style="color: #202090">
                                    <iframe id="map" src="" width="100%" height="400px" frameborder="0" style="border:0"></iframe><br />
                                </a>
                            </p>
                        </div>
                        <div id="reviewSection" class="tab-pane fade" style="padding-bottom: 3%">
                            <h3> Coming Soon </h3>
                        </div>
                     </div>
                </div>
            </div>

            <div id="main_right" class="col-lg-4">



                <!-- contribute button-->

                <form action="javascript:void(0);" method="post" id="example-form" style="display: block;">


                    <div class="form-row">
                        <label>Amount</label>
                        <input id="paymentAmount" type="text" maxlength="20" autocomplete="off" class="required" />
                        <button type="submit" name="submit-button" onClick="enableCheckout()">Confirm</button>
                    </div>

                    <input id="amount" type="hidden" autocomplete="off" name="amount" value="300" >
                    <button id="contribute_button"  class="btn btn-block btn-lg btn-primary" style="display:none;">
                        Contribute
                    </button>
                </form>
                <hr/>
                <h4 class="text-center">QR Code</h4>
                <div id="img_slides" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img id ="qrCode" src="" width="100%" alt="">
                        </div>
                    </div>
                </div>
                <hr/>
              <!-- progress bar-->
              <!--facebook of current login user -->
              <!--recent donor -->
                <div id="rec_don">
                    <h3>Contributions</h3>
                    <hr/>
                    <img src="/images/launch_icon.png" width="30" height="25" style="float: left" />
                    <table style="margin-left: 50px">
                             <tr><td>UserName1</td></tr>
                             <tr><td>some times ago</td></tr>
                    </table>
                    <hr/>
                    <img src="/images/launch_icon.png" width="30" height="25" style="float: left" />
                    <table style="margin-left: 50px">
                        <tr><td>UserName2</td></tr>
                        <tr><td>some times ago</td></tr>
                    </table>
                    <hr/>
                    </div>
                </div>
          </div>
        </div>
    </div>


      <script>
          function enableCheckout() {
              document.getElementById("contribute_button").style.display="block";
             // alert("Please confirm you will pay the following amount: "+ jQuery("#paymentAmount").val());
              jQuery('#amount').val(jQuery("#paymentAmount").val());
              //alert("Set amount: "+ jQuery("#amount").val());
          }

      </script>




      <form id="form" action="/payment/stripePayment" method="POST" style="display:none;">
          <input id="amount" type="hidden" autocomplete="off" name="amount" value="200">

      </form>

      <script>

          $('#contribute_button').click(function(){

              //get userId from session
              //query DB to find strip ID
              //jQuery.get( url [, data ] [, success ] [, dataType ] )
              existingUserById = '/payment/stripePayment/queryUser/';

              var stripId;
              //Inside a function a special variable "arguments" is always available. It's similar to an array in that it has a length property, but it lacks the built-in methods of an array.
              $.get(existingUserById, function(results) {

                      if(!result || result == "failed") {
                          alert("failed to get results");
                          return;
                      }

                      alert("currentResults:"+ result);
                        stripId = result;
                        console.dir(stripId);
                      alert("current stripId:"+ stripId);

                      var token = function(res){
                          var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                          $('form').append($input).submit();
                      };
                      var payAmount=  jQuery('#amount').val();
                      StripeCheckout.open({
                          key:         'pk_test_iJPmMQMGarAHRE7oUcM5iBxO',
                          address:     true,
                          amount:      payAmount*100,//scale in cents instead of dollar
                          currency:    'usd',
                          name:        'User:',
                          description: 'Will Give Checkout Widget',
                          panelLabel:  'Checkout',
                          token:       token
                      });

                      return false;
                  });

              })

              //direct charge on the account without pop up payment checkout wizard
      </script>

    <%include ../layout/footer.ejs%>
    <script language="JavaScript">

        var recipientId = document.URL.split('/').slice(-1)[0].replace(/\D/g,'');
        var mapPrefix = 'https://www.google.com/maps/embed/v1/place?key=AIzaSyD3J5wXDD6SbCrUPZoYHYwOjV3RJE7OaZU&q=';
        var charity = {};
        function getCharityById(){
            $.get('/services/charityById/' + recipientId,function(data) {
                if(!data || data == "failed") {
                    //TODO display failure message
                    return;
                }
                console.dir(data);
                charity = data;
                var entireAddress = (charity.address+', '+charity.city+', '+charity.state+', '+charity.zipcode);
                $('#mission_content').html(charity.mission);
                $('#charity_logo').attr('src', '/resources/recipients/profilePicture/pp_'+recipientId);
                $('#orgName').html(charity.name);
                $('#editMyPageLink').attr('href', '/charity/'+recipientId+'/edit');
                $('#map').attr('src', mapPrefix+entireAddress.replace(/ /g,'+'));
                $('#nameInfo').html(charity.name);
                $('#EINInfo').html(charity.EIN);
                $('#phoneInfo').html(charity.phone);
                if(charity.website) {
                    $('#websiteInfo').html(charity.website.trim());
                    $('#websiteInfo').attr('href','http://'+charity.website.trim());
                }
                if(charity.facebookUrl) {
                    $('#facebookPageInfo').html(charity.facebookUrl.trim());
                    $('#facebookPageInfo').attr('href',charity.facebookUrl.trim());
                }

                $('#qrCode').attr('src','/resources/recipients/qrCode/QR_'+recipientId+'.png');
            })
        }
        $(document).ready(function(){
            getCharityById();
            //$('#fbShareButton').attr('href', document.URL);
            if(recipientId == $('#userId').html()) {
                $('#editMyPageDiv').show();
            }
            $('#maptab').bind('onClick', function() {
                google.maps.event.trigger($('#map'), 'resize');
            });

        })

    </script>


  </body>

</html>