<script>
    var defaultHTML =
        ' <div  class="col-xs-11" style="border: 2px solid; border-radius: 10px; margin-top: 1%; margin-bottom: 1%"> ' +
        '   <div class="col-xs-4"> ' +
        '      <img src="/resources/recipients/profilePicture/pp_{RecipientId}" height="150px" width="150px"> ' +
        '   </div> ' +
        '   <div class="col-xs-7"> '+
        '      <div class=""> ' +
        '          <h4>{name}</a> '+
        '           {ICONS} ' +
        '          </h4> '+
        '      </div> ' +
        '      <strong>EIN:</strong> {EIN} <br> '+
        '      <strong>Address:</strong> {Address} <br> '+
        '      <strong>Phone:</strong> {Phone} <br> '+
        '      <strong>Mission:</strong> {Mission} ' +
        '   </div> '+
        ' </div> '
        ;
    var moreCount = 0;
    function unHide(c)
    {
     document.getElementById("s" + c).style.display = "none";
     document.getElementById("h" + c).style.display = "block";
    }

    function addMore(text)
    {
        var cut = 80;
        if (text.length < cut) return text;
		moreCount ++;
        text = "<span id=s" + moreCount + ">" + text.substring(0, cut-7) + " <a style=\"color: #202090;cursor:hand; cursor:pointer\" onClick=\"unHide('" + moreCount + "')\">...(more)</a></span>"
		+ "<span id=h"+moreCount + " style=\"display:none\">" + text + "</span>";
        return text;
    }		
	var lock = false;
	function flipFav(rid)
	{
	    if (lock) return;
		lock = true;
		var currentImg = "" + document.getElementById("img" + rid).src;
		var newValue = "N";
		if (currentImg.indexOf("fav2") == -1) // No
		{
			document.getElementById("img" + rid).src = "/images/fav2.png";
			newValue = "Y";
		}else
			document.getElementById("img" + rid).src = "/images/fav.png";
		$.get("/services/user/setFavoriteCharity?rid=" + rid + "&value=" + newValue,function(data){});
		lock = false;
	}	
	
    var resultConainer = $('#resultsContainer');
    function replaceHtml(transaction){
	    var website = transaction.website.trim();
		if(website.indexOf("http:") == -1)
			 website = "http://" + website;
	    var favIcon = "";
   	    <% if ( 'undefined' == typeof user || user.provider=='recipient') { %>
       	;
       	<% } else { %>		
		  if(transaction.isFavored == 'Y')
			favIcon = "<a style=\"cursor:hand; cursor:pointer\"  onClick=\"flipFav('" + transaction.recipient_id + "')\"><img src='/images/fav2.png' id=img" + transaction.recipient_id +" border=0 width=30 height=27></a>";
		 else
		    favIcon = "<a style=\"cursor:hand; cursor:pointer\" onClick=\"flipFav('" + transaction.recipient_id + "')\"><img src='/images/fav.png' id=img" + transaction.recipient_id +" border=0 width=30 height=27></a>";
		<%}%>
			
        return defaultHTML.replace("{name}","<a style=\"color: #202090;\" href='/charity/" + transaction.recipient_id + "'>" + transaction.name + "</a>" )
		.replace("{ICONS}",favIcon + "<a style=\"color: #202090;\" href='" + website + "' target='_blank'><img src='/images/web.png' border=0 width=20 height=20></a>"  )
                .replace("{EIN}",transaction.EIN)
                .replace("{Address}",transaction.address+', '+transaction.city+', '+transaction.state+', '+transaction.zipcode)
                .replace("{RecipientId}", transaction.recipient_id)
		.replace("{State}",transaction.state)
                .replace("{Phone}",transaction.phone)
                .replace("{Mission}",addMore(transaction.mission))
                ;
    }
    function initResultPage(results){
        $('#botPage').empty();

        var itemsOnPage = 10;

        $('#botPage').pagination({  
            items: results.length, 
            itemsOnPage: itemsOnPage,  
            onInit: initPage,
            currentPage: 0,
            onPageClick: function(){
                var page_index = $("#botPage").pagination('getCurrentPage') -1;
                resultConainer.empty();
                for(var i=page_index*itemsOnPage;i<(page_index+1)*itemsOnPage;++i) {
                    resultConainer.append(replaceHtml(results[i]));
                }
                //$("#page").pagination('drawPage',$("#botPage").pagination('getCurrentPage'));

            },
            cssStyle: 'light-theme' 
        });
        function initPage() {
            resultConainer.empty();
            for(var i=0;i<itemsOnPage && i< results.length;++i) {
                resultConainer.append(replaceHtml(results[i]));
            }
        }
    }
    function displayNoResults(){
        resultConainer.empty();
        $('#botPage').empty();
        $('#noresult').show(); 
    }

    function dateDisplayFormatter( cellvalue, options, rowObject ){
        return cellvalue.substr(0,10);
    }
</script>