<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/simplePagination.css" >

    <%activeMenu = "Charities"%>
    <%include ../layout/navbar.ejs%>
</head>
<body>
<div class="container sidebar-content" style="height:auto; min-height: 90%; margin-top: 20px; ">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas"   id="sidebar" role="navigation"  >
            <div data-spy="affix" data-offset-top="15" data-offset-bottom="30">
                <ul class="nav" style="color: #000000;" id="sidebar-nav">
                    <li class="sidebar-offcanvas" style="font-style: italic; font-size: 40px; padding-bottom: 10%" >
                        <strong>Search Charities</strong></li>
                    <li  >
                        <a href="/charities/searchCharities" style="color: #000000;">Search Charities</a>
                    </li>
                    <li>
                        <a href="/charities/listCharities" style="color: #000000;"><strong>List A-Z</strong></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9" data-spy="scroll" style="padding-left: 3%" data-target="#sidebar-nav">
            <div id="page" >
			<span> Category: <select id="category"></select> </span>
			<span> State: <select id="state"></select> </span>
			<span> City: <select id="city"></select> </span>
			</div>
            <div id="resultsContainer" class="">
            </div>
            <div id="botPage" style="float: left"></div>
            <div id="noresult" style="display: none" >
                <h3>No search result found.</h3>
            </div>

        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
</div><!--/.container-->
<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>
<script src="/assets/js/jquery.simplePagination.js"></script>
<%include charityListTemplate.ejs%>
<script>
    function listCharity(){
       $.get('/services/charities/listCharity?category=' + $('#category').val().replace("&","%26") + '&state=' + $('#state').val() + '&city=' + $('#city').val(),function(data){
           if(!data || data == "failed") {
               //get  failed
               return;
           }
           if(data.length>0) {

			   $('#noresult').hide(); 
               initResultPage(data);
           }
           else {
               displayNoResults();
           }
       })
    }
    $('#category').change(function() {
		listCharity();
    });
	
    $('#state').change(function() {
	   $('#city').empty();
	   $('#city').append("<option value='All'>All</option>")
       $.get('/services/charities/classifyCharity?classification=city&condition=' + $('#state').val(),function(data){
           if(!data || data == "failed") {
               return;
           }		   
            for(var i=0; i< data.length;++i) {
                $('#city').append("<option value='" + data[i].city + "'>" + data[i].city + "</option>");
            }
       })
		listCharity();
    });
	
    $('#city').change(function() {
		listCharity();
    });

   $( document).ready(function(){
       $('#category').append("<option value='All'>All</option>")
       $.get('/services/charities/classifyCharity?classification=category',function(data){
           if(!data || data == "failed") {
               return;
           }		   
            for(var i=0; i< data.length;++i) {
                $('#category').append("<option value='" + data[i].category + "'>" + data[i].category + "</option>");
            }
       })

       $('#state').append("<option value='All'>All</option>")
       $.get('/services/charities/classifyCharity?classification=state',function(data){
           if(!data || data == "failed") {
               return;
           }		   
            for(var i=0; i< data.length;++i) {
                $('#state').append("<option value='" + data[i].state + "'>" + data[i].state + "</option>");
            }
       })
	   $('#city').append("<option value='All'>All</option>")
	   listCharity();
   })
</script>
</body>
</html>