<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/simplePagination.css" >

    <%activeMenu = "Charities"%>
    <%include ../layout/navbar.ejs%>
</head>
<body>
<% if(undefined == typeof keyword || !keyword) {keyword=""}%>

<div class="container sidebar-content" style="height:auto; min-height: 90%; ">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-5 col-sm-3 sidebar-offcanvas"   id="sidebar" role="navigation"  >
            <div data-spy="affix" data-offset-top="15" data-offset-bottom="30">
                <ul class="nav" style="color: #000000;" id="sidebar-nav">
                    <li class="sidebar-offcanvas" style="font-style: italic; font-size: 40px; padding-bottom: 10%" >
                        <strong>Search Charities</strong></li>

                    <li  >
                        <a href="/charities/searchCharities" style="color: #000000;"><strong>Search Charities</strong></a>
                    </li>
                    <li>
                        <a href="/charities/listCharities" style="color: #000000;">List A-Z</a>
                    </li>
                    <li>
                        <a href="/charities/hotCharities" style="color: #000000;">Recommended</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main area -->		
        <div class="col-xs-14 col-sm-9" data-spy="scroll" style="padding-left: 3%;" data-target="#sidebar-nav">
            <form method="get" role="search">
            <div id="page" class="input-group" style="width:70%;" >
                    <input type="text" class="form-control" placeholder="Search" name="keyword" id="keyword" value="<%=keyword%>" required autofocus>
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="Search" type="button" style="background-color:#ffb900;"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
			</div>
			</form>


            <div id="resultsContainer" class="">
                <div class="table-responsive">

                </div>
            </div>
            <div id="botPage" style="float: left"></div>
            <div id="noresult" style="display: none" >
                <h3>No search result found.</h3>
            </div>
        </div><!-- /.col-xs-12 main -->
		
    </div><!--/.row-->
</div><!--/.container-->
<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>
<script src="/assets/js/jquery.simplePagination.js"></script>
<%include charityListTemplate.ejs%>
<script>
    $('#Search').click(function() {
		searchCharity ();
    });

	
    function searchCharity(){
	   if ($('#keyword').val().trim() == "") return;
       $.get('/services/charities/searchCharity?keyword=' + $('#keyword').val(), function(data){
           if(!data || data == "failed") {
               return;
           }
           if(data.length>0) {
			   $('#noresult').hide();
               initResultPage(data);
           }
           else {
               displayNoResults();
           }
       })
    }

   $( document).ready(function(){
       searchCharity();
   })
</script>
</body>
</html>