<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <link rel="stylesheet" href="/assets/css/simplePagination.css" >

    <%activeMenu = "Charities"%>
    <%include ../layout/navbar.ejs%>
</head>
<body>
<% if(undefined == typeof keyword || !keyword) {keyword=""}%>

<div class="container sidebar-content" style="height:auto; min-height: 90%; ">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-5 col-sm-3 sidebar-offcanvas"   id="sidebar" role="navigation"  >
            <div data-spy="affix" data-offset-top="15" data-offset-bottom="30">
                <ul class="nav" style="color: #000000;" id="sidebar-nav">
                    <li class="sidebar-offcanvas" style="font-style: italic; font-size: 40px; padding-bottom: 10%" >
                        <strong>Search Charities</strong></li>
                    <li>
                        <a href="/charity/charities" style="color: #000000;">My charities</a>
                    </li>
                    <li  >
                        <a href="/charity/searchCharities" style="color: #000000;"><strong>Search Charities</strong></a>
                    </li>
                    <li>
                        <a href="/charity/listCharities" style="color: #000000;">List A-Z</a>
                    </li>
                    <li>
                        <a href="/charity/hotCharities" style="color: #000000;">Recommended</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main area -->		
        <div class="col-xs-14 col-sm-9" data-spy="scroll" style="padding-left: 3%" data-target="#sidebar-nav">
            <form method="get" role="search">
            <div id="page" class="input-group" style="width:70%;" >
                    <input type="text" class="form-control" placeholder="Search" name="keyword" id="keyword" value="<%=keyword%>" required autofocus>
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="Search" type="button" style="background-color:#ffb900;"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
			</div>
			</form>
			
            <div id="resultsContainer" class="">
                <div class="table-responsive">
                    <table id="resultTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Organization</th>
			    <th>&nbsp;</th>
                            <th>EIN</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Phone</th>
                            <th>Mission</th>
                        </tr>
                        </thead>
                        <tbody id="resultTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="botPage" style="float: left"></div>
            <div id="noresult" style="display: none" >
                <h3>No search result found.</h3>
            </div>
        </div><!-- /.col-xs-12 main -->
		
    </div><!--/.row-->
</div><!--/.container-->
<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>
<script src="/assets/js/jquery.simplePagination.js"></script>
<script>
    var defaultHTML =
        '<tr> <td> {name} </td> '+
        ' <td> {ICONS} </td> ' +
        ' <td> {EIN} </td> ' +
        ' <td> {City} </td> ' +
        ' <td> {State} </td> ' +
        ' <td> {Phone} </td> ' +
        ' <td> {Mission} </td> ' +
        ' </tr> ';
    var moreCount = 0;
    function unHide(c)
    {
     document.getElementById("s" + c).style.display = "none";
     document.getElementById("h" + c).style.display = "block";
    }

    function addMore(text)
    {
        var cut = 80;
        if (text.length < cut) return text;
	    moreCount ++;
        text = "<span id=s" + moreCount + ">" + text.substring(0, cut-7) + " <a style=\"color: #202090;cursor:hand; cursor:pointer\" onClick=\"unHide('" + moreCount + "')\">...(more)</a></span>"
		+ "<span id=h"+moreCount + " style=\"display:none\">" + text + "</span>";
        return text;
    }		

    function replaceHtml(transaction){
	    var website = transaction.website;
		if(website.indexOf("http:") == -1)
			website = "http://" + website;
        return defaultHTML.replace("{name}","<a style=\"color: #202090;\" href='/charity?id=" + transaction.recipient_id + "'>" + transaction.name + "</a>")
		.replace("{ICONS}","<a style=\"color: #202090;\" href='" + website + "' target='_blank'><img src='/images/web.png' border=0 width=20 height=20></a>")
                .replace("{EIN}",transaction.EIN)
                .replace("{City}",transaction.city)
		.replace("{State}",transaction.state)
                .replace("{Phone}",transaction.phone)
                .replace("{Mission}",addMore(transaction.mission))
                ;
    }
    function initResultPage(results){
        $('#botPage').empty();

        var itemsOnPage = 10;
        var resultConainer = $('#resultTableBody');
        initPage();
        $('#botPage').pagination({  
            items: results.length, 
            itemsOnPage: itemsOnPage,  
            onInit: initPage,
            currentPage: 0,
            onPageClick: function(){
                var page_index = $("#botPage").pagination('getCurrentPage') -1;
                resultConainer.empty();
                for(var i=page_index*itemsOnPage;i<(page_index+1)*itemsOnPage;++i) {
                    resultConainer.append(replaceHtml(results[i]));
                }
                $("#page").pagination('drawPage',$("#botPage").pagination('getCurrentPage'));
            },
            cssStyle: 'light-theme' 
        });
        function initPage() {
            resultConainer.empty();
            for(var i=0;i<itemsOnPage && i< results.length;++i) {
                resultConainer.append(replaceHtml(results[i]));
            }
        }
    }
    function displayNoResults(){
        $('#resultTableBody').empty();
        $('#botPage').empty();
        $('#noresult').show(); 
    }

    function dateDisplayFormatter( cellvalue, options, rowObject ){
        return cellvalue.substr(0,10);
    }
	
    $('#Search').click(function() {
		searchCharity ();
    });

	
    function searchCharity(){
	   if ($('#keyword').val() == "") return;
       $.get('/services/charity/searchCharity?keyword=' + $('#keyword').val(), function(data){
           if(!data || data == "failed") {
               return;
           }
           if(data.length>0) {
			   $('#noresult').hide();
               initResultPage(data);
           }
           else {
               displayNoResults();
           }
       })
    }

   $( document).ready(function(){
       searchCharity();
   })
</script>
</body>
</html>