
﻿<footer>
    <style>
        ul {
            display: block;
            list-style-type: none;

        }
        a{
            color : black;

        }
    </style>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

             <ul>
                 <li><a href="/">WillGive</a></li>

                 <li><a href="/aboutus">About Us</a></li>
                 <li><a href="/contactus">Contact Us</a></li>
                 <li><a href="/Privacy">Privacy</a></li>
                 <li><a href="/terms">Terms of Service</a></li>
             </ul>
            </div>

            <div class="col-md-4">

                <ul>
                    <li><a href="/charities/listCharities">Charities</a></li>
                    <li><a href="/recipient/signup">Charity Register</a></li>
                    <li><a href="/charities/listCharities">Charity Sponsor</a></li>

                </ul>

            </div>

            <div class="col-md-4">
                <ul>
                    <li><a href="#">Campaigns</a></li>


                </ul>
            </div>
        </div>
    </div>
</footer>